<div class="container">
    <div class="userForm"><h1 class="title">Backup</h1></div>
    <div class="userForm">
        <form 
        action="/admin/createBackup" 
        method="get">
          <button 
          class="btn" 
          type="submit">
          Create Backup
          </button>
        </form>
    </div>
</div>
<style>
  .btn{
    border: none;
    color: #fff;
    width: 100%;
    padding: 2rem 4rem;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #218838;
  }
</style>