<div class="container">
  <div class="userForm">
      <h1 class="title">Logs</h1>
  </div>
</div>

<div class="log-container">
  <div class="log-viewer">
    <div class="log-viewer-header">
      <button id="clear-button">Clear Logs</button>
    </div>
    <div id="log-container" class="log-viewer-content">
    </div>
    <script src="/logs.js"></script>
  </div>
</div>